doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title B-Stock UI
		link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
		link(rel='stylesheet', type='text/css', href='semantic/dist/ben.css')
		link(rel='stylesheet', type='text/css', href='semantic/dist/AdminLTE.css')
		link(rel='stylesheet', type='text/css', href='semantic/dist/skin-blue.min.css')
		link(rel='icon', type='image/png', href='img/favicon-32x32.png', sizes='32x32')
		link(rel='shortcut icon', href='img/favicon.ico')
	body
		header.main-header-mob.ui.grid.vertically.padded.mobile.only
			.column.six.wide
			.column.four.wide.center.aligned
				span.ui.white(href="#") B-STOCK APP
			.column.six.wide
				ul.nav.navbar-nav
					li.dropdown.user.user-menu
						a.ui.dropdown(role="listbox" aria-expanded="true")
							i.user.icon
							.left.menu.transition
								.disabled.item(style='pointer-events:all', role='option', aria-disabled='true', aria-checked='false', aria-selected='false')
									span.text
										| Signed in as 
										strong Grocery User
								.selected.item(style='pointer-events:all', role='option', aria-checked='false', aria-selected='true')
									span.text Integrations
								.item(style='pointer-events:all', role='option', aria-checked='false', aria-selected='false')
									span.text Help
								.item(style='pointer-events:all', role='option', aria-checked='false', aria-selected='false')
									span.text Settings
								.item(style='pointer-events:all', role='option', aria-checked='false', aria-selected='false')
									span.text Sign Out
		main.ui.grid.padded
			aside.ui.three.wide.column.computer.only(style="background: #222D32; height: 100vh;")
			#main-wrapper.ui.thirteen.wide.computer.sixteen.wide.tablet.column
				.search-results-feed.ui.sixteen.wide.row.grid.padded
					.ui.items.sixteen.wide.row
						.product.item.ui.grid 
							.thumb-and-info.ui.grid.sixteen.wide.mobile.ten.wide.tablet.ten.wide.computer.column.padded
								.image
									.thumb.ui.raised.segment
										.ui.ribbon.label.WM
										img.ui.small.centered.image(src="img/scott.jpg", alt="")
									.create-similar.ui.sixteen.wide.row.centered.grid.padded
										a(href="#")
											i.icon.clone 
											| Create Similar
								.content
									a.header(href="#" target="_blank") 
										strong Scott 1000 Septic Safe Toilet Paper
									.meta: span.ui.grey Scott
									.description.ui.grid.padded
										.sixteen.wide.row.tablet.only.computer.only
											p.line-clamp Don't let spills and messes get in your way. Lock in confidence with Bounty, the Quicker Picker Upper. This pack contains Bounty Quick Size paper towels that 
									.extra
										.ui.tiny.label.basic.grey UPC: 071547000099
										.ui.tiny.label.basic.grey Size: Standard
										.ui.tiny.label.basic.grey Color: Black
							.pricing-and-actions.ui.grid.sixteen.wide.mobile.six.wide.tablet.six.wide.computer.column.padded
								.variants.ui.nine.wide.mobile.eight.wide.tablet.nine.wide.computer.column.column.grid
									.variants-selectors.ui.sixteen.wide.mobile.sixteen.wide.tablet.sixteen.wide.computer.column.grid
										.ui.sixteen.wide.row
											label Size 
											.ui.fluid.selection.dropdown
												span.default.text Choose Size
												i.dropdown.icon
												.menu
													.item
														i.attention.right.floated.icon
														|       Important
													.item
														i.comment.right.floated.icon
														|       Announcement
													.item
														i.conversation.right.floated.icon
														|       Discussion

										.ui.sixteen.wide.row
											label Color
											.ui.fluid.selection.dropdown
												span.default.text Choose Color
												i.dropdown.icon
												.menu
													.item
														i.attention.right.floated.icon
														|       Important
													.item
														i.comment.right.floated.icon
														|       Announcement
													.item
														i.conversation.right.floated.icon
														|       Discussion
								
								.actions-and-price.ui.six.wide.mobile.eight.wide.tablet.seven.wide.computer.column.grid
									.price.ui.sixteen.wide.row.centered
										.ui.tiny.statistic
											.value
												i.dollar.sign.tiny.icon
												| 80.99
											.label Retail
									.choose.ui.sixteen.wide.row.centered
										button.ui.primary.button
											| Choose
											i.right.chevron.icon
									


					
						.product.item.ui.grid 
							.thumb-and-info.ui.grid.sixteen.wide.mobile.ten.wide.tablet.ten.wide.computer.column.padded
								.image
									.thumb.ui.raised.segment
										.ui.ribbon.label.TG
										img.ui.small.centered.image(src="img/charmin.jpeg", alt="")
									.create-similar.ui.sixteen.wide.row.centered.grid.padded
										a(href="#")
											i.icon.clone 
											| Create Similar
								.content
									a.header(href="#" target="_blank") 
										strong Soft & Strong Toilet Paper - Mega Rolls - Up&Up™
									.meta: span.ui.grey Up&Up
									.description.ui.grid.padded
										.sixteen.wide.row.tablet.only.computer.only
											p.line-clamp Offering both softness and strength, the Soft & Strong Toilet Paper Mega Rolls from up & up™ are a pack of premium two-ply toilet paper rolls designed to 
									.extra
										.ui.tiny.label.basic.grey UPC: 071547000099
										.ui.tiny.label.basic.grey Size: Standard
										.ui.tiny.label.basic.grey Color: Black
										.ui.tiny.label.basic.red TCIN: 071547000099
										.ui.tiny.label.basic.red DCPI: 129381561723
							.pricing-and-actions.ui.grid.sixteen.wide.mobile.six.wide.tablet.six.wide.computer.column.padded
								.variants.ui.nine.wide.mobile.eight.wide.tablet.nine.wide.computer.column.column.grid
									.variants-selectors.ui.sixteen.wide.mobile.sixteen.wide.tablet.sixteen.wide.computer.column.grid
										.ui.sixteen.wide.row
											label Size 
											.ui.fluid.selection.dropdown
												span.default.text Choose Size
												i.dropdown.icon
												.menu
													.item
														i.attention.right.floated.icon
														|       Important
													.item
														i.comment.right.floated.icon
														|       Announcement
													.item
														i.conversation.right.floated.icon
														|       Discussion

										.ui.sixteen.wide.row
											label Color
											.ui.fluid.selection.dropdown
												span.default.text Choose Color
												i.dropdown.icon
												.menu
													.item
														i.attention.right.floated.icon
														|       Important
													.item
														i.comment.right.floated.icon
														|       Announcement
													.item
														i.conversation.right.floated.icon
														|       Discussion
								
								.actions-and-price.ui.six.wide.mobile.eight.wide.tablet.seven.wide.computer.column.grid
									.price.ui.sixteen.wide.row.centered
										.ui.tiny.statistic
											.value
												i.dollar.sign.tiny.icon
												| 349.99
											.label Retail
								
									.alerts.ui.sixteen.wide.row.centered
										.ui.red.message Please Scan Destination Pallet

			
	
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	script(src='semantic/dist/semantic.min.js')